@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css");

@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");


body {
  font-family: "Markazi Text", serif;
 
}
.body-blurred {
   overflow: hidden;
   .navbar, .container, .container-fluid{
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
}
.overlay{
  display: block;
  position: absolute;
  width: 100%;
  height: 101%;
  background-color: rgba(0,0,0, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
}
.message{
  display:block;
  position: absolute;
  width:33.3333%;
  min-height: 200px;
  height: auto;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  border-radius: 10px;
  direction: rtl; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  @media screen and (max-width: 768px) {
    width:90%;
  }
}
.small, small {
  font-size: 100% !important;
}
.navbar-toggler {
  border: none;
}

.cards-row, .list, .navbar, .paragraph, .title, section {
  direction: rtl;
}

.list {
    li {
    font-size: 22px;
    a {
      color: #27b5bb;
    }
  }
}

section h2 {
  color: #27b5bb;
}

.paragraph {
  text-align: justify;
}

.list, .paragraph {
  line-height: 3rem;
  font-size: 22px;
}

.nav-item{
  .nav-link {
    font-size: 24px;
  }
  &:hover{
    background: rgba(255, 255, 255, 0.4);
  }
}
.title {
  font-weight: 400;
  color: #222;
}

.card {
  border: none !important;
}

.bg-light {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.case-number {
  font-size: 66px;
}

.bg-primary {
  background-image: linear-gradient(-225deg, #007BFF 0%, #1D8FE1 48%, #625EB1 100%);
}

.bg-warning {
  background-image: linear-gradient(to bottom, #ffc107 0%, #f9d423 100%);
}

.bg-danger {
  background-image: linear-gradient(135deg, #dc3545 0%, #ff0844 100%);
}

.bg-success {
  background-image: linear-gradient(-60deg, #0fd850 0%, #28a745 100%);
}

.timeline-info {
  direction: rtl;
}
.map-container{
  height: calc(100vh - 84px);
  @media screen and (max-width: 992px) {
    height: calc(100vh - 38px);
  }
}
#map{
  width: 100vw;
  height: 100%;
}
.dataTables_wrapper{
  width: 100%;
}
#cases-by-wilaya{
  direction: rtl;
  width: 100% !important;
  text-align:center;
  font-size: 22px;
}
.footer{
  direction: rtl;
}
iframe{
  width:100%;
  height: 450px;
}